* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 238, 238);
}

main {
    width: 100%;
    max-width: 500px;
    
    text-align: center;
    margin: 0 auto;
}

main h1 {
    font-size: 3rem;
    margin-bottom: 20px;

    color: #000000ab;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main input {
    padding: 15px;
    border: 0;

    border-radius: 5px;
}

main input:focus {
    outline: 0;

}

main button {
    padding: 15px;
    border: 0;
    border-radius: 5px;

    color: white;
    background-color: rgb(101, 0, 184);
}

main button:hover {
    background-color: rgb(81, 0, 147);
    cursor: pointer;
}

main p {
    margin: 20px 0;
}

.warning {
    border-radius: 5px;
    color: white;
    padding: 10px;
}

